<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%> 
<body>
      <%- include('./partials/nav.ejs')%>
      <div class="about content">
            <h2>About Me</h2>
            <h3>Contact :</h3>
            <p>sjane2021@agruni.edu.ge;</p>
            <p>+995 599 65 72 10;</p>
            <h5>Saba Janelidze</h5>
      </div>
      <%- include('./partials/footer.ejs')%> 
</body>
</html>