<nav>
      <div class="site-title">
            <a href="/"><h1>Car List</h1></a>
            <p> A Net Site Made By CJ</p>
      </div>
      <ul>
            <li><a href="/">Cars</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/cars/create">Add New Car</a></li>
      </ul>
</nav>